.signupForm{
    margin-top: 100px;
}
.signupButton{
    margin-top: 15px;
}
.panel-body{
    padding: 20px;
}
.customButton{
    width: 100px !important;
}
.panel-heading{
    text-align: center;
}
.signupFormLoginButton{
    width: 180px;
}
.showError{
    color: red;
    margin-top: -12px;
}
button:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
a{
    color: red !important;
}