<div class="container-fluid">
    <div class="col-md-offset-3 col-md-6 signupForm">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Signup</h4>
            </div>
            <div class="panel-body">
                <form [formGroup]="signupForm" class="form-horizontal" (submit)="onSignupUser()" novalidate>
                    <div class="col-md-12">
                        <div class="col-md-5">
                            <div class="input-group form-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" class="form-control" formControlName="firstName" placeholder="First name">
                            </div>
                            <div class="col-sm-12 showError" *ngIf="signupFormErrors.firstName">
                                <p>{{signupFormErrors.firstName}}</p>
                            </div>
                        </div>
                        <div class="col-md-offset-2 col-md-5">
                            <div class="input-group form-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" class="form-control" formControlName="lastName" placeholder="Last name">
                            </div>
                            <div class="col-sm-12 showError" *ngIf="signupFormErrors.lastName">
                                <p>{{signupFormErrors.lastName}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-5">
                            <div class="input-group form-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" class="form-control" #userName (keyup)="onUserNameChange(userName.value)" formControlName="userName" placeholder="User name">
                            </div>
                            <div class="col-sm-12 showError" *ngIf="signupFormErrors.userName">
                                <p>{{signupFormErrors.userName}}</p>
                            </div>
                            <div class="col-sm-12 showError" *ngIf="isUserNameExist">
                                <p>User name already exists</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="col-md-5">
                            <div class=" input-group form-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" class="form-control" formControlName="password" placeholder="Password">
                            </div>
                            <div class="col-sm-12 showError" *ngIf="signupFormErrors.password">
                                <p>{{signupFormErrors.password}}</p>
                            </div>
                        </div>
                        <div class="col-md-push-2 col-md-5">
                            <div class="input-group form-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" class="form-control" formControlName="confPassword" placeholder="Confirm password">
                            </div>
                            <div class="col-sm-12 showError" *ngIf="signupFormErrors.confPassword">
                                <p>{{signupFormErrors.confPassword}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-5">
                            <div class="input-group form-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input type="text" class="form-control" #email (keyup)="onEmailChange(email.value)" formControlName="email" placeholder="Email">
                            </div>
                            <div class="col-sm-12 showError" *ngIf="signupFormErrors.email">
                                <p>{{signupFormErrors.email}}</p>
                            </div>
                            <div class="col-sm-12 showError" *ngIf="isEmailExist">
                                <p>Email is already registered</p>
                            </div>
                        </div>
                        <div class="col-md-offset-2 col-md-5">
                            <div class="input-group form-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                                <input type="text" class="form-control" formControlName="phoneNo" placeholder="Phone number">
                            </div>
                            <div class="col-sm-12 showError" *ngIf="signupFormErrors.phoneNo">
                                <p>{{signupFormErrors.phoneNo}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-5">
                            <div class="input-group form-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                <input type="date" class="form-control" formControlName="birthDate" placeholder="Date of birth">
                            </div>
                            <div class="col-sm-12 showError" *ngIf="signupFormErrors.birthDate">
                                <p>{{signupFormErrors.birthDate}}</p>
                            </div>
                        </div>
                        <div class="col-md-offset-2 col-md-5">
                            <div class="input-group form-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <select formControlName="gender" class="form-control">
                                     <option value="">Select your gender</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                            <div class="col-sm-12 showError" *ngIf="signupFormErrors.gender">
                                <p>{{signupFormErrors.gender}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 signupButtons">
                        <div class="col-md-offset-4">
                            <button type="submit" [disabled]="!signupForm.valid || isUserNameExist || isEmailExist" data-toggle="modal" data-target="#signupSuccessModel"
                                class="btn btn-primary customButton">Signup</button>
                            <button type="button" class="btn btn-danger col-sm-offset-1 customButton" (click)="resetSignupForm()">Reset</button>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-offset-5 qusToUser">
                            <p>Already have an account?</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-offset-4 col-sm-offset-4">
                            <button type="button" class="btn btn-success col-md-offset-1 signupFormLoginButton" (click)="viewLoginForm()">Click here to login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" data-backdrop="static" data-keyboard="false" id="signupSuccessModel" role="dialog">
        <div *ngIf="isSignupSuccess" class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <p>You have successfully signed up.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" (click)="viewLoginForm()">Login</button>
                </div>
            </div>
        </div>
        <div *ngIf="isSignupFailure" class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Error occured. Please try again.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" (click)="viewLoginForm()">Login</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="viewSignupForm()">Try again</button>
                </div>
            </div>
        </div>
    </div>
</div>