<div class="container-fluid">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="panel">
            <div class="panel-body">
                <form class="form-horizontal" [formGroup]="userForm" (submit)="onSubmit()" novalidate>
                    <div class="col-sm-12 profileImage">
                        <div class="col-sm-11">
                            <img src="/assets/users-files/{{userDetails.profilePicture}}" class="img-responsive profilePicture" alt="Image">
                           
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-5">
                            <div class="input-group form-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" class="form-control" [(ngModel)]="this.userDetails.firstName" formControlName="firstName" placeholder="First name">
                            </div>
                            <div class="col-sm-12 showError" *ngIf="userFormErrors.firstName">
                                <p>{{userFormErrors.firstName}}</p>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <div class="input-group form-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" class="form-control" [(ngModel)]="this.userDetails.lastName" formControlName="lastName" placeholder="Last name">
                            </div>
                            <div class="col-sm-12 showError" *ngIf="userFormErrors.lastName">
                                <p>{{userFormErrors.lastName}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-md-5">
                            <div class="input-group form-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" class="form-control" [(ngModel)]="this.userDetails.alterName" formControlName="alterName"  placeholder="Alternate name">
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <div class="input-group form-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input type="text" class="form-control" [(ngModel)]="this.userDetails.email" formControlName="email" placeholder="Email">
                            </div>
                            <div class="col-sm-12 showError" *ngIf="userFormErrors.email">
                                <p>{{userFormErrors.email}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-md-5">
                            <div class="input-group form-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                                <input type="text" class="form-control" [(ngModel)]="this.userDetails.phoneNo" formControlName="phoneNo" placeholder="Phone number">
                            </div>
                            <div class="col-sm-12 showError" *ngIf="userFormErrors.phoneNo">
                                <p>{{userFormErrors.phoneNo}}</p>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <div class="input-group form-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                <input type="date" class="form-control" [(ngModel)]="this.userDetails.birthDate" formControlName="birthDate" placeholder="Birth date">
                            </div>
                            <div class="col-sm-12 showError" *ngIf="userFormErrors.birthDate">
                                <p>{{userFormErrors.birthDate}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-md-5">
                             <div class="input-group form-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <select [(ngModel)]="this.userDetails.gender" formControlName="gender" class="form-control">
                                     <option value="">Select your gender</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                            <div class="col-sm-12 showError" *ngIf="userFormErrors.gender">
                                <p>{{userFormErrors.gender}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-md-11">
                            <div class="input-group form-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                <textarea class="form-control" rows="4" [(ngModel)]="this.userDetails.address" formControlName="address" placeholder="Address"></textarea> </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-md-11">
                            <div class="input-group form-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-book"></i></span>
                                <input type="text" class="form-control" [(ngModel)]="this.userDetails.schoolName" formControlName="schoolName" placeholder="School name">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-md-11">
                            <div class="input-group form-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-education"></i></span>
                                <input type="text" class="form-control" [(ngModel)]="this.userDetails.collegeName" formControlName="collegeName" placeholder="College name">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-md-11">
                            <div class="input-group form-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
                                <input type="text" class="form-control" [(ngModel)]="this.userDetails.work" formControlName="work" placeholder="Works at">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-md-11">
                            <div class="input-group form-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <textarea class="form-control" rows="3" [(ngModel)]="this.userDetails.about" formControlName="about" placeholder="About"></textarea> </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-md-11">
                            <div class="input-group form-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-comment"></i></span>
                                <textarea class="form-control" rows="2" [(ngModel)]="this.userDetails.quotes" formControlName="quotes" placeholder="Quotes"></textarea> </div>
                        </div>
                    </div>
                    <div class="col-sm-12 buttons">
                        <button [disabled]="!userForm.valid" type="submit" class="btn btn-success">Update</button>
                        <button type="button" (click)="onCancel()" class="btn btn-danger">Cancel</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>