img{
    margin:auto;
    width:45%;
    border-radius: 195px;
}
.profileImage{
    margin-top: 5px;
    margin-bottom: 35px;
}
.buttons{
    text-align: center;
}
button:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.showError{
    color: red;
    margin-top: -12px;
}

