<nav class="navbar navbar-inverse navbar-fixed-top bg-primary">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#userNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">Camrade</a>
        </div>
        <div class="collapse navbar-collapse " id="userNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a routerLink="media" routerLinkActive="active">Media</a></li>
                <li><a routerLink="friends" routerLinkActive="active">Friends</a></li>
                <li class="dropdown"><img src="/assets/users-files/{{userDetails.profilePicture}}" width="57px" class="img-responsive dropdown-toggle" data-toggle="dropdown" alt="Image">
                    <ul class="dropdown-menu">
                        <li><a routerLink="profile" routerLinkActive="active">Profile</a></li>
                        <li><a routerLink="media" routerLinkActive="active">Logout</a></li>
                    </ul>
                </li>
                <li><a routerLink="communication/messages" routerLinkActive="active">Messages</a></li>
                <li><a routerLink="communication/notifications" routerLinkActive="active">Notifications</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="col-md-10 col-sm-12 userComp">
    <router-outlet></router-outlet>
</div>
<div class="col-xs-2  userComp">
    <chat></chat>
</div>