<div class="container-fluid">

    <div class="col-md-offset-4 col-md-4 loginForm">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Login</h4>
            </div>
            <div class="panel-body loginPanelBody">
                <form [formGroup]="loginForm" class="form-horizontal" (submit)="onLoginUser()" novalidate>
                    <div class="col-md-12">
                        <div class="input-group form-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="email" class="form-control" formControlName="userName" placeholder="User name">
                        </div>
                        <div class="col-sm-12 showError" *ngIf="loginFormErrors.userName">
                            <p>{{loginFormErrors.userName}}</p>
                        </div>
                        <div class="input-group form-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" class="form-control" formControlName="password" placeholder="Password">
                        </div>
                        <div class="col-sm-12 showError" *ngIf="loginFormErrors.password">
                            <p>{{loginFormErrors.password}}</p>
                        </div>
                        <div class="col-sm-12 showError" *ngIf="isLoginError">
                            <p>Invalid User name or Password</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-1">
                            <div class="checkbox">
                                <label><input type="checkbox" > Remember me</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-sm-offset-5">
                            <button type="submit" [disabled]="!loginForm.valid" class="btn btn-success loginButton">Login</button>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-sm-offset-4 forgetPassword">
                            <a routerLink="/users/forgetpassword" routerLinkActive="active">Forget password?</a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-sm-offset-4 qusToUserLogin">
                            <p>Don't have an acount?</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-offset-4 col-sm-offset-5">
                            <button type="button" (click)="viewSignupForm()" class="btn btn-danger">Create an account</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>