<div class="container-fluid">
    <div class="col-md-offset-4 col-md-4 forgetPasswordForm">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Forget password</h4>
            </div>
            <div class="panel-body">
                <form [formGroup]="forgetPassForm" class="form-horizontal" (submit)="onSubmit()" novalidate>
                    <div class="radio">
                        <label><input type="radio" name="defGroup" (click)="clickByUserName()" checked>Find my account by user name</label>
                    </div>
                    <div *ngIf="showByUserName" class="col-md-12 inputField">
                        <div class="col-md-offset-1">
                            <div class="input-group form-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" class="form-control" [(ngModel)]="userName" #username (keyup)="onUserNameChange(username.value)" formControlName="userName">
                            </div>
                            <div class="col-sm-12 showError" *ngIf="forgetPassFormErrors.userName">
                                <p>{{forgetPassFormErrors.userName}}</p>
                            </div>
                            <div class="col-sm-12 showError" *ngIf="!isUserNameExist">
                                <p>User name is not exist</p>
                            </div>
                        </div>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="defGroup"  (click)="clickByEmail()">Find my account by email</label>
                    </div>
                    <div *ngIf="showByEmail" class="col-md-12 inputField">
                        <div class="col-md-offset-1">
                            <div class="input-group form-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input type="text" class="form-control" [(ngModel)]="userEmail" #email (keyup)="onEmailChange(email.value)" formControlName="email">
                            </div>
                            <div class="col-sm-12 showError" *ngIf="forgetPassFormErrors.email">
                                <p>{{forgetPassFormErrors.email}}</p>
                            </div>
                            <div class="col-sm-12 showError" *ngIf="!isEmailExist">
                                <p>Email is not registered</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-offset-4">
                        <button type="submit" [disabled]="!isUserNameVerified && !isEmailVerified" class="btn btn-success">Submit</button>
                        <button type="button" (click)="onCancel()" class="btn btn-danger">Cancel</button>
                    </div>
                </form>
                <div *ngIf="isPasswordSent" class="showSuccessResult">
                    <p>Password is sent to your registered email. Please check your email. <a routerLink="/users/loginsignup" routerLinkActive="active">Login</a></p>
                    
                </div>
                <div *ngIf="isPasswordSentError" class="showErrorResult">
                    <p>Error occured. Please try again.</p>
                </div>
            </div>
        </div>
    </div>
</div>