<div class="col-xs-2">
    <div class="sidebar-nav">
        <div class="navbar navbar-success" role="navigation">
            <ul class="nav navbar-nav">
                <li class="active"><a routerLink="myfriends" routerLinkActive="active">My friends</a></li>
                <li><a routerLink="addfriends" routerLinkActive="active">Add friends</a></li>
                <li><a routerLink="friendrequest" routerLinkActive="active">Friend request</a></li>
                <li><a routerLink="invitefriends" routerLinkActive="active">Invite friends</a></li>
                <li><a routerLink="personalmessage" routerLinkActive="active">Personal message</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="col-xs-10">
    <router-outlet></router-outlet>
</div>