div{
    margin-top:2px;
}
button{
    margin-left: 15px;
}
img:hover{
    cursor: pointer;
}
img{
    border-radius: 20px;
}
a{
    text-decoration: none;
    color: #001f3f;
    font-weight: bold;
}
a:hover{
    cursor: pointer;
}
button:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}