<div class="col-xs-2">
        <div class="sidebar-nav">
            <div class="navbar navbar-success" role="navigation">
                    <ul class="nav navbar-nav">
                        <li class="active"><a routerLink="mymedia" routerLinkActive="active">My media</a></li>
                        <li><a routerLink="uploadmedia" routerLinkActive="active">Upload media</a></li>
                        <li><a routerLink="sharemedia" routerLinkActive="active">Share media</a></li>
                        <li><a routerLink="sharedmedia" routerLinkActive="active">Shared media</a></li>
                    </ul>
            </div>
        </div>
</div>
<div class="col-xs-10">
    <router-outlet></router-outlet>
</div>